In [ ]:
from tabulate import tabulate

girls = [
    ["Evelyn", 17, 5.5, 80], ["Jessica", 16, 6.0, 85], ["Somto", 17, 5.4, 70],
    ["Edith", 18, 5.9, 60], ["Liza", 16, 5.6, 76], ["Madonna", 18, 5.5, 66],
    ["Waje", 17, 6.0, 87], ["Tola", 20, 5.7, 95], ["Aisha", 19, 5.5, 50],
    ["Latifa", 17, 5.5, 49]
]

boys = [
    ["Chinedu", 19, 5.7, 74], ["Liam", 16, 5.9, 87], ["Wale", 18, 5.8, 75],
    ["Gbenga", 17, 6.1, 68], ["Abiola", 20, 5.5, 66], ["Kola", 19, 5.4, 78],
    ["Kunle", 16, 5.8, 87], ["George", 17, 5.7, 98], ["Thomas", 18, 5.5, 54],
    ["Wesley", 19, 5.7, 60]
]

headers = ["Name", "Age", "Height", "Score"]

print("Girls Data:")
print(tabulate(girls, headers=headers, tablefmt="grid"))

print("\nBoys Data:")
print(tabulate(boys, headers=headers, tablefmt="grid"))

In [1]:
def calculate_atr(experience, age):
    if experience > 25 and age >= 55:
        return 5600000
    elif experience > 20 and age >= 45:
        return 4480000
    elif experience > 10 and age >= 35:
        return 1500000
    else:
        return 550000

# Taking input from the user
experience = int(input("Enter years of experience: "))
age = int(input("Enter age: "))

# Calculating ATR
atr = calculate_atr(experience, age)

# Displaying the result
print(f"Annual Tax Revenue (ATR): N{atr:,}")

Enter years of experience:  12
Enter age:  50

Annual Tax Revenue (ATR): N1,500,000